i {
    color: red;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

.fa-angle-double-down {
    display: flex;
    justify-content: center;
}

nav {
    height: 120px;
    width: 100%;
    color: #ffffff;
    padding-left: 1.5em;
    padding-right: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    /* background-color: #4056a1; */
}
nav span {
    font-family: "Bungee", sans-serif;
}

.tweet {
    /* display: flex;
      flex-direction: column;
      align-items: center; */
    color: #ffffff;
}

@media only screen and (min-width: 768px) {
    nav{
        color: #ffffff;;
        background-color: #4056a1;

    }
    .main {
        display: flex;
    }


    .flex{
        display: flex;
        padding-top: 200px;
        padding-left: 5%;
    }
  }


.bounce {
    animation-name: bounce;
    animation-timing-function: linear;
}
@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(5px); }
    100% { transform: translateY(0); }
}